
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="row container">
        <div class="col-md-12">
            <div class="form-group">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#first" data-toggle="tab">Music Tracks</a></li>
                    <li><a href="#second" data-toggle="tab">Artists</a></li>
                    <li><a href="#third" data-toggle="tab">Albums</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="first">
                        <div class="form-group">
                            <div class="col-md-12">
                                <table id="firstTable" class="table-hover table-responsive"></table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="second">
                        <div class="form-group">
                            <div class="col-md-12">
                                <table id="secondTable" class="table-hover table-responsive"></table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="third">
                        <div class="form-group">
                            <div class="col-md-12">
                                <table id="thirdTable" class="table-hover table-responsive"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.fn.dataTable.ext.classes.sPageButton = 'btn btn-primary';
        $.fn.dataTableExt.oStdClasses.sPageButtonActive = "btn-raised";

        SearchFirst();
        SearchSecond();
        SearchThird();
    });

    function SearchFirst() {
        $("#firstTable").dataTable({
            "bServerSide": true,
            "bProcessing": true,
            "bFilter": false,
            "bLengthChange": false,
            "bInfo": true,
            "iDisplayLength": 20,
            "sAjaxSource": "@Url.Action("SearchSongs", "Search")",
            "fnServerParams": function (aoData) {
                aoData.push(
                    { "name": "search", "value": "@ViewBag.Search" }
                );
            },
            "oLanguage": {
                "oPaginate": {
                    "sInfo": "",
                    "sNext": "<i class='glyphicon glyphicon-step-forward'></i>",
                    "sPrevious": "<i class='glyphicon glyphicon-step-backward'></i>"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    "mRender": function (data, type, row) {
                        return "<h3>" + row[0] + "</h3>";
                    },
                    "bSortable": false,
                    "className": "text-center",
                },
                {
                    "aTargets": [1],
                    "mRender": function (data, type, row) {
                        var track = row[1];
                        var link = row[2];
                        var singer = row[3];
                        var image = row[4];
                        var display = "" +
                            "<div class='row'>" +
                                "<div class='col-md-2'>" +
                                    "<img src='" + image + "' class='img-responsive' />" +
                                "</div>" +
                                "<div class='col-md-10'>" +
                                    "<b><a href='@Url.Action("Index", "PlayMusic")?musicid=" + link + "'>" + track + "</a></b><br/>" +
                                    singer +
                                "</div>" +
                            "</div>";
                        return display;
                    },
                    "bSortable": false,
                },
            ],
            "bAutoWidth": false,
        });
    }

    function SearchSecond() {
        $("#secondTable").dataTable({
            "bServerSide": true,
            "bProcessing": true,
            "bFilter": false,
            "bLengthChange": false,
            "bInfo": true,
            "iDisplayLength": 20,
            "sAjaxSource": "@Url.Action("SeachSingers", "Search")",
            "fnServerParams": function (aoData) {
                aoData.push(
                    { "name": "search", "value": "@ViewBag.Search" }
                );
            },
            "oLanguage": {
                "oPaginate": {
                    "sInfo": "",
                    "sNext": "<i class='glyphicon glyphicon-step-forward'></i>",
                    "sPrevious": "<i class='glyphicon glyphicon-step-backward'></i>"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    "mRender": function (data, type, row) {
                        return "<h3>" + row[0] + "</h3>";
                    },
                    "bSortable": false,
                    "className": "text-center",
                },
                {
                    "aTargets": [1],
                    "mRender": function (data, type, row) {
                        var track = row[1];
                        var link = row[2];
                        var image = row[3];
                        var display = "" +
                            "<div class='row'>" +
                                "<div class='col-md-2'>" +
                                    "<img src='" + image + "' class='img-responsive' />" +
                                "</div>" +
                                "<div class='col-md-10'>" +
                                    "<b><a href='@Url.Action("SingerAbout", "Singer")?singerId=" + link + "'>" + track + "</a></b><br/>" +
                                "</div>" +
                            "</div>";
                        return display;
                    },
                    "bSortable": false,
                },
            ],
            "bAutoWidth": false,
        });
    }

    function SearchThird() {
        $("#thirdTable").dataTable({
            "bServerSide": true,
            "bProcessing": true,
            "bFilter": false,
            "bLengthChange": false,
            "bInfo": true,
            "iDisplayLength": 20,
            "sAjaxSource": "@Url.Action("SearchAlbums", "Search")",
            "fnServerParams": function (aoData) {
                aoData.push(
                    { "name": "search", "value": "@ViewBag.Search" }
                );
            },
            "oLanguage": {
                "oPaginate": {
                    "sInfo": "",
                    "sNext": "<i class='glyphicon glyphicon-step-forward'></i>",
                    "sPrevious": "<i class='glyphicon glyphicon-step-backward'></i>"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    "mRender": function (data, type, row) {
                        return "<h3>" + row[0] + "</h3>";
                    },
                    "bSortable": false,
                    "className": "text-center",
                },
                {
                    "aTargets": [1],
                    "mRender": function (data, type, row) {
                        var track = row[1];
                        var link = row[2];
                        var image = row[3];
                        var display = "" +
                            "<div class='row'>" +
                                "<div class='col-md-2'>" +
                                    "<img src='" + image + "' class='img-responsive' />" +
                                "</div>" +
                                "<div class='col-md-10'>" +
                                    "<b><a href='@Url.Action("Album", "Album")?albumId=" + link + "'>" + track + "</a></b><br/>" +
                                "</div>" +
                            "</div>";
                        return display;
                    },
                    "bSortable": false,
                },
            ],
            "bAutoWidth": false,
            });
    }

</script>
