@model MusicWebApp.Areas.Music.Models.GenresViewModel

@{
    ViewBag.Title = "Music Tracks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="container row">
        <div class="col-md-9">
            <div class="row">
                <div class="form-group col-md-12">
                    <h2>Genres</h2>
                    <hr />

                    <ul class="list-inline">
                        @foreach (var genre in Model.list)
                        {
                            if (genre.Id == Model.genre.Id)
                            {
                                <li class="list-group-item active"><i class="glyphicon glyphicon-chevron-right"></i> @genre.Name</li>
                            }
                            else
                            {
                                <li class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i><a href="@Url.Action("Index", "MusicTracks", new { id = genre.Id })"> @genre.Name</a></li>
                            }
                        }
                    </ul>
                </div>
                <div class="form-group col-md-12">
                    <h2>Tracks</h2>
                    <hr />

                    <div class="col-md-12">
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#top" data-toggle="tab">Top Tracks</a></li>
                            <li><a href="#recent" data-toggle="tab">Recent Tracks</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="top">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <table id="mostPop" class="table-hover table-responsive">
                                            <thead>
                                                <tr>
                                                    <td colspan="2"><h4 style="color: rgb(110, 0, 128)"><i class="glyphicon glyphicon-music"></i> Most Popular @ViewBag.Name songs</h4></td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="recent">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <table id="mostRecent" class="table-hover table-responsive">
                                            <thead>
                                                <tr>
                                                    <td colspan="2"><h4 style="color: rgb(110, 0, 128)"><i class="glyphicon glyphicon-music"></i> Most Popular @ViewBag.Name songs</h4></td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12" style="float:right">
                    <table id="randomSong" class="table-hover table-responsive">
                        <thead>
                            <tr>
                                <td><font color="purple"><b>Random @Model.genre.Name songs you may like!</b></font></td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.fn.dataTable.ext.classes.sPageButton = 'btn btn-primary';
        $.fn.dataTableExt.oStdClasses.sPageButtonActive = "btn-raised";

        LoadMostPopular();
        LoadRecent();
        LoadRandom();
    });

    function LoadRecent() {
        $("#mostRecent").dataTable({
            "bServerSide": true,
            "bProcessing": true,
            "bSort": false,
            "bFilter": false,
            "bLengthChange": false,
            "bInfo" : false,
            "iDisplayLength": 20,
            "sAjaxSource": "@Url.Action("GetGenresMostRecentSongs", "MusicTracks")",
            "fnServerParams": function (aoData) {
                aoData.push(
                    { "name": "genresId", "value": @Model.genre.Id }
                );
            },
            "oLanguage": {
                "oPaginate": {
                    "sInfo": "",
                    "sNext": "<i class='glyphicon glyphicon-step-forward'></i>",
                    "sPrevious": "<i class='glyphicon glyphicon-step-backward'></i>"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    "mRender": function (data, type, row)  {
                        return "<h3>" + row[0] + "</h3>";
                    },
                    "bSortable": false,
                    "className": "text-center",
                },
                {
                    "aTargets": [1],
                    "mRender": function (data, type, row) {
                        var track = row[1];
                        var link = row[2];
                        var singer = row[3];
                        var image = row[4];
                        var view = row[5];
                        var display = "" +
                            "<div class='row'>" +
                                "<div class='col-md-2'>" +
                                    "<img src='" + image + "' class='img-responsive' />" +
                                "</div>" +
                                "<div class='col-md-10'>" +
                                    "<span class='pull-right' style='padding-right:16px'><i class='glyphicon glyphicon-eye-open'></i> " + view + "</span>" +
                                    "<b><a href='@Url.Action("Index", "PlayMusic")?musicid=" + link + "'>" + track + "</a></b><br/>" +
                                    singer +
                                "</div>" +
                            "</div>";
                        return display;
                    },
                    "bSortable": false,
                },
            ],
            "bAutoWidth": false,
        });
    }

    function LoadMostPopular() {
        $("#mostPop").dataTable({
            "bServerSide": true,
            "bProcessing": true,
            "bSort": false,
            "bFilter": false,
            "bLengthChange": false,
            "bInfo" : false,
            "iDisplayLength": 20,
            "sAjaxSource": "@Url.Action("GetGenresMostPopularSongs", "MusicTracks")",
            "fnServerParams": function (aoData) {
                aoData.push(
                    { "name": "genresId", "value": @Model.genre.Id }
                );
            },
            "oLanguage": {
                "oPaginate": {
                    "sInfo": "",
                    "sNext": "<i class='glyphicon glyphicon-step-forward'></i>",
                    "sPrevious": "<i class='glyphicon glyphicon-step-backward'></i>"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    "mRender": function (data, type, row)  {
                        return "<h3>" + row[0] + "</h3>";
                    },
                    "bSortable": false,
                    "className": "text-center",
                },
                {
                    "aTargets": [1],
                    "mRender": function (data, type, row) {
                        var track = row[1];
                        var link = row[2];
                        var singer = row[3];
                        var image = row[4];
                        var view = row[5];
                        var display = "" +
                            "<div class='row'>" +
                                "<div class='col-md-2'>" +
                                    "<img src='" + image + "' class='img-responsive' />" +
                                "</div>" +
                                "<div class='col-md-10'>" +
                                    "<span class='pull-right' style='padding-right:16px'><i class='glyphicon glyphicon-eye-open'></i> " + view + "</span>" +
                                    "<b><a href='@Url.Action("Index", "PlayMusic")/?musicid=" + link + "'>" + track + "</a></b><br/>" +
                                    singer +
                                "</div>" +
                            "</div>";
                        return display;
                    },
                    "bSortable": false,
                },
            ],
            "bAutoWidth": false,
        });
    }

    function LoadRandom() {
        $("#randomSong").dataTable({
            "bServerSide": false,
            "bProcessing": false,
            "bSort": false,
            "bFilter": false,
            "bLengthChange": false,
            "bPaginate": false,
            "iDisplayLength": 20,
            "sAjaxSource": "@Url.Action("GetRandomSongs", "MusicTracks")",
            "fnServerParams": function (aoData) {
                aoData.push(
                    { "name": "genresId", "value": @Model.genre.Id }
                );
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    "mRender": function (data, type, row) {
                        var track = row[0];
                        var link = row[1];
                        var singer = row[2];
                        var image = row[3];
                        var display = "" +
                            "<div class='row'>" +
                                "<div class='col-md-4'>" +
                                    "<img src='" + image + "' class='img-responsive' />" +
                                "</div>" +
                                "<div class='col-md-8'>" +
                                    "<b><a href='@Url.Action("Index", "PlayMusic")/?musicid=" + link + "'>" + track + "</a></b><br/>" +
                                    singer +
                                "</div>" +
                            "</div>";
                        return display;
                    },
                    "bSortable": false,
                },
            ],
            "bAutoWidth": false,
        });
    }
</script>